@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	/* --bg-color: #94dab5; */
	/* --bg-color:linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%); */
	/* --bg-color: linear-gradient(to top, #35593C 0%, #37C479 100%); */
	/* Created with https://www.css-gradient.com */
	/* --bg-color: #4E4B57;
	--bg-color: -webkit-linear-gradient(top left, #4E4B57, #572BAA);
	--bg-color: -moz-linear-gradient(top left, #4E4B57, #572BAA);
	--bg-color: linear-gradient(to bottom right, #4E4B57, #572BAA); */
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: rgb(204, 204, 204);
	--main-color: rgb(219, 19, 241);
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{

/* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
background: #1D2802;
background: -webkit-linear-gradient(top right, #1D2802, #515F70);
background: -moz-linear-gradient(top right, #1D2802, #515F70);
background: linear-gradient(to bottom left, #1D2802, #515F70);
	color: var(--text-color);
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all .45s ease;
}
.logo{
	color: var(--text-color);
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
}
span{
	color: var(--main-color);
}
.navlist{
	display: flex;
}
.navlist a{
	color: var(--second-color);
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}
.navlist a:hover{
	color: var(--main-color);
}
.navlist a.active{
	color: var(--main-color);
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	margin-left: 25px;
	display: none;
}

section{
	padding: 160px 15% 120px;
}
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display:flex;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.home-img {
    order: 0;
}

.home-img img {
    height:400px;
    /* width: 60%; */
    border-radius: 50%;
	margin-left: -100px;
	margin-right: 100px;
	opacity: 0.9;
   
}
/* --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
} */
.home-text span {
    font-size:  1.8rem;
    font-weight: 100px;
}

.home-text h1 {
    font-size:3.2rem;
}

.home-text h2 {
    font-size: 1.1rem;
    font-weight: 400;
    color:rgb(239, 235, 15)
}

.home-text p {
    font-size:0.941rem;
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}
.info-box{
	color:rgb(239, 235, 15);
	margin-top: 10px;
	margin-bottom: 10px;


}

.neon-button {
	padding: 10px 10px;
	display: inline-block;
	color: white;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	background-color:rgb(239, 50, 211);
	overflow: hidden;
	font-weight: bold;
	border: solid;
	border-color: rgb(239, 50, 211);
	box-shadow: 0 0 50px rgb(42, 246, 219);
	border-radius: 8px; 
	margin-top: 20px;
}

/*creating animation effect*/
.neon-button:hover {
	background:gold;
	border-color:g;
	box-shadow: 0 0 50px rgb(229, 44, 198),0 0 25px rgb(229, 44, 198);
	border-color: gold;
}

/* .btn{
	background-color: #ff004f;
	background:none;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	border-width: 5px;
	border-style:outset;
	padding: 9px;
	border-radius: 30px;
	margin-top: 25px;
	cursor: pointer;
	
} */
/* .btn11{
	font-size: 15px;
	font-weight:bolder;
	color:#fff
} */
/* .btn:hover{
	background-color:dodgerblue;
} */
/* .home{
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
} */
/* .slide{
	margin-bottom: 20px;
} */
/* .one{
	display: inline-block;
	margin-right: 15px;
	height: 32px;
	padding: 0 15px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	background: var(--main-color);
	color:black; */
/* } */
/* .two{
	display: inline-block;
	color: var(--second-color);
	font-size: 20px;
	font-weight: 500;
} */
/* .home-text h1{
	font-size: var(--big-font);
	font-weight: 700;
	color: var(--text-color);
	line-height: 1.1;
	margin: 0 0 8px;
}
.home-text h3{
	color: var(--text-color);
	margin: 0 0 35px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.1;
}
.home-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 40px;
} */
/* .button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.btn{
	display: inline-block;
	padding: 12px 28px;
	background: var(--main-color);
	border-radius: 5px;
	color: var(--text-color);
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}
.btn:hover{
	transform: scale(0.9);
}
.btn2{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: var(--text-color);
	margin-left: 35px;
}
.btn2 span i{
	height: 55px;
	width: 55px;
	background: var(--main-color);
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .45s ease;
}
.btn2 span i:hover{
	transform: scale(1.1) translateY(5px);
} */

/* header.sticky{
	background: var(--bg-color);
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
} */

.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}
.about-img img{
	max-width: 420px;
	height: 470px;
	width: 100%;
	border-radius: 8px;
}
.about-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.about-text h4{
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	line-height: 1.7;
	margin: 15px 0 30px;
}
.about-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 4rem;
}
.portfolio{
	align-items: center;
}
.portfolio h2{
	margin-top: -25px;
}
.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}
.btn2{
	color:#65f049;
	font-size: 22px;
	
}
.main-text{
	text-align: center;
	
}
.main-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.row{
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
}

.row img{
	width: 100%;
	height: 350px;
	border-radius: 8px;
	display: block;
	transition: transform 0.5s;
}
.layer{
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.1), #ff004f);
	position: absolute;
	border-radius: 8px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 40px;
	transition: height 0.5s;
}
.layer h5{
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 15px;
}
.layer p{
	color: var(--second-color);
	font-size: 0.7rem;
	line-height: 1.6;
}
.layer i{
	color: var(--main-color);
	margin-top: 20px;
	font-size: 20px;
	background: var(--text-color);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.row:hover img{
	transform: scale(1.1);
}
.row:hover .layer{
	height: 100%;
}
.details{
	color:#ff004f;
}
.skills-text h2{
	text-align: center;
	
}
ul.skills {
	display: flex;
	
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-left: 40px;
	
  }

  ul.skills li {
	/* Created with https://www.css-gradient.com */
	/* Created with https://www.css-gradient.com */
	/* background: #C2BDCE;
	background: -webkit-linear-gradient(top left, #C2BDCE, #21C07D);
	background: -moz-linear-gradient(top left, #C2BDCE, #21C07D);
	background: linear-gradient(to bottom right, #C2BDCE, #21C07D); */
	border-radius: 8px;
	padding: 10px 10px;
	display: inline-block;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	background-color: rgb(247, 245, 247);
	overflow: hidden;
	font-weight: bold;
	border: solid;
	border-color: rgb(232, 219, 236);
	box-shadow: 0 0 50px rgb(239, 228, 240),0 0 25px rgb(219, 19, 241);
	border-radius: 8px; 
	margin-top: 20px;
	width: 29%;
	font-size: 18px;
	margin: 20px ;
	margin-bottom: 40px;
	opacity: 0.8;
	padding:10px 10px;
	font-weight: bolder;
	color:#0b0a0a;
	

  }
.skills-text h2{
	font-size: var(--h2-font);
	line-height:1;
	margin-bottom: 50px;
	color: white;
}

.contact{
	/* background: #011a01; */
	display: grid;
	justify-content: center;
	
}
.contact-text h4{
	color:rgb(234, 245, 245);
	margin: 18px 0;
	font-size: 20px;
	font-weight: 600;
	
	
}
.contact-text a{
	color:rgb(37, 230, 62)
}
.contact-text a:hover {
	color: rgb(226, 223, 248);
  }
.contact-text h2{
	font-size: var(--h2-font);
	line-height: 2;
	align-items: center;
	margin-bottom: 15px;
	text-align: center;
	color: rgb(239, 14, 179);
	
}
.contact-icons i{
	order: -1;
	height: 45px;
	width: 45px;
	background:rgb(239, 14, 179);
	color:whitesmoke;
	font-size: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 20px;
	transition: all .45s ease;
	margin-top: 15px;
}
.contact-icons i:hover{
	background: var(--text-color);
	color: var(--main-color);
}
span.cc{
	color:gold;

}
.contact-form form{
	position: relative;
}
.contact-form form input,
form textarea{
	width: 100%;
	padding: 14px;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
}
.contact-form textarea{
	resize: none;
	height: 240px;
}
.contact-form .submit{
	display: inline-block;
	font-size: 16px;
	background: var(--main-color);
	color: var(--text-color);
	width: 160px;
	transition: all .45s ease;
}
.contact-form .submit:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.end{
	padding: 20px 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: var(--bg-color);
}
.last-text p{
	color: var(--second-color);
	font-size: 14px;
}
.top i{
	padding: 10px;
	border-radius: 8px;
	font-size: 15px;
	color: var(--text-color);
	background: var(--main-color);
}


@media (max-width: 1480px){
	header{
		padding: 12px 2.5%;
		transition: .1s;
	}
	header.sticky{
		padding: 10px 2.5%;
		transition: .1s;;
	}
	section{
		padding: 110px 3% 60px;
	}
	.end{
		padding: 15px 3%;
	}
}

@media (max-width: 1100px){
	:root{
		--big-font: 4rem;
	  --h2-font: 2.5rem;
	  --p-font: 1rem;
	  transition: .1s;
	}
	.home-text h3{
		font-size: 2.5rem;
	}
	.home{
		height: 87vh;
	}
}

@media (max-width: 920px){
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		order: 2;
	}
	.about-img img{
		width: 100%;
		height: auto;
		max-width: 100%;
	}
	.contact{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 840px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction:column;
		background: var(--bg-color);
		text-align: left;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 17px;
		font-size: 20px;
		transition: all .45s ease;
		color: var(--text-color);
	}
	.navlist a:hover{
		color: var(--main-color);
	}
	.navlist a.active{
		color: var(--text-color);
	}
	.navlist.open{
		top: 100%;
	}
}